<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FileManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   
   <!-- 设置默认编码：UTF-8 -->
    <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.java.util.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
  <servlet>
    <description>生成验证码</description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>org.java.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>验证验证码</description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>org.java.servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>展示个人信息</description>
    <display-name>ShowInfoServlet</display-name>
    <servlet-name>ShowInfoServlet</servlet-name>
    <servlet-class>org.java.servlet.ShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoServlet</servlet-name>
    <url-pattern>/ShowInfoServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>修改个人信息</description>
    <display-name>UpdateInfoServlet</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>org.java.servlet.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>通讯录</description>
    <display-name>AddressListServlet</display-name>
    <servlet-name>AddressListServlet</servlet-name>
    <servlet-class>org.java.servlet.AddressListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressListServlet</servlet-name>
    <url-pattern>/AddressListServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>注册信息</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.java.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>停用人员信息</description>
    <display-name>DiscontinueListServlet</display-name>
    <servlet-name>DiscontinueListServlet</servlet-name>
    <servlet-class>org.java.servlet.DiscontinueListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscontinueListServlet</servlet-name>
    <url-pattern>/DiscontinueListServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>上传文件</description>
    <display-name>UploadHandleServlet</display-name>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>org.java.servlet.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/UploadHandleServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>文件列表</description>
    <display-name>ListFileServlet</display-name>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>org.java.servlet.ListFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/ListFileServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>文件下载</description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>org.java.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>信息统计</description>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>org.java.servlet.StatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping> 
</web-app>