@charset "UTF-8";

/*背景图片*/
body{
	background: url('../images/bg5.jpg') no-repeat;	
}

/*系统标题*/
#register_title{
	margin-top: 50px;
	margin-bottom: 0px;
	font-family: 楷体;
	font-size: 40px;
	text-align: center;
}

/*装载form表单,让表单居中*/
#divForm{
	width: 500px;
	margin: 0 auto;

}

/*form表单*/
table{
	width: 600px;
	height: 460px;
	border-collapse:collapse;
	border: 5px solid #A0A0A0;
	
}

/*增加表格内边框*/
th{
	width: 20%;
}
td,th{
	border:1px solid #A0A0A0;
}

/*账号、用户名、密码、确认密码、生日、电话号码、电子邮箱输入框*/
#num_text,#user_text,#pwd_text,#repwd_text,#birthday_text,#tel_text,#mail_text,#user_type,#position{
	width: 180px;
	height: 20px;
	margin-left: 15px;
}

/*表单验证*/
#user_span,#num_span,#pwd_span,#repwd_span,#sex_span,#tel_span,#mail_span,#position_span{
	display: none;
	color: red;
}

/*选择性别*/
#sex_radio_1,#sex_radio_2{
	margin-left: 25px;
}

/*日历按钮*/
#calendar_btn{
	vertical-align:middle;/*垂直居中*/
}

/*三个按钮水平居中*/
#btn{
	text-align: center;
}



